
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|PT+Sans');
html{
    font-size:100%;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
sub{
    color: #666669;
}
span{
    font-family: 'PT Sans', sans-serif;


}
#sub-body-1 {
    height: 700px;
    padding-top: 100px;
    text-align: center;
    background-color:#052d87 !important     
}

#price-name{
    color: #40ae49;
    font-weight: bold;
    font-size: 20px;
}

#btn-start-application{
    display: none;
}

#btn-quote{
    display: none;
}

/* Table Button Buildme */
tr:nth-child(even) {
    background-color: #dddddd;
}


#btn-buildme {
    border-radius: 30px 30px 30px 30px;
    width: 150px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

/* step 1 table  */
#step1-table-1 {
    text-align: center;

}
.container-select-mercedes {
    color: white;   
    font-family: 'Roboto Slab', serif;
    padding-bottom:  70px;  
    font-weight: bold;
    letter-spacing: 3px;
    
}
.bran-name{
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 90px;
    font-family: 'Roboto Slab', serif;
    color: #58585a;
    text-align: justify;
    font-weight: inherit;


}

.bran-detail {
    font-family: 'Roboto Slab', serif;
    color:#666666; 
    text-align: justify;
    font-size: 14px;
    font-weight: lighter;
    
}   

.bran-detail {
    display: block;
}
.pr-vat{
    color: #40ae49;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;

}

.fromvat{
    font-family: 'PT Sans', sans-serif;
    color: #666666; 
}
.containter-text {
    color: #58585a;   
}


#btn-quote {
    text-align: left;
    border-radius: 30px 30px 30px 30px;
    border-color: black;

}


#step1-table-1{
    padding-bottom: 20px;
    text-align: center;
    background-color: white;
    width: 1100px;
    padding: 20px 40px 20px 50px;
}



.text-group{
  padding-right: 110px;
  font-family: 'PT Sans', sans-serif;
  color: #666666;
}

.btn-align{
    padding-right: 50px;
}




/*========= Non- Mobile First Method ============ */

/* Large Devices, Wide Screens */ 
@media only screen and (max-width : 1200px) {

    #sub-body-1{
        padding-left: 50px;
        padding-right: 50px;
    }
    #step1-table-1{
    width: 100% !important;
  
    }
    strong{
        font-size: 1.3vw;
    }
    .bran-detail {
        font-size: 1.1vw;
    }
    .text-group {
        padding-right: 39px;
    }
}


/* Medium Devices, Desktop */ 
@media only screen and (max-width : 992px) {
#sub-body-1{
    padding-left: 90px;
}
strong {
    font-size: 1.3vw;
}
.bran-detail {
    font-size: 1.1vw;
}
#btn-buildme {
    width: 126px;
    font-size: 1.4vw;

}
.text-group {
    font-size: 1.5vw;
}
#price-name{
    font-size: 2vw;
}
.bran-name{
    padding-left: 60px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

    .container-select-mercedes {
        text-align: center;
        font-size: 15px;
    
}
#step1-table-1{
    line-height: 15.003px;   
    float: left;
    font-size: 12px;
    width: 1700px;
}
.text-group{
    padding-right: 30px;
}

.bran-name{
padding-top: 10px;
padding-bottom:10px;
padding-left: 20px;
font-size: 12dpx;

}


.text-group{
padding-right: 0px;

}

}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px){
    .btn-align {
        padding-right: 0px;
    }
    .container {
        width: 100%;
        max-width: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    .container-select-mercedes {
            text-align: center;
            font-size: 15px;
        
    }
    #step1-table-1{
        line-height: 15.003px;
        text-align: left;
        width: 100%;     
        margin-right:0;
        float: left;
        font-size: 12px;

    }
    .text-group{
        padding-right: 30px;
}

.bran-name{
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    font-size: 12dpx;
    
}

#sub-body-1{
    width: 100%;
    height: auto;
}
.text-group{
    padding-right: 0px;

  }

}
/* Custom, Iphone Retina */
@media only screen and (max-width : 320px){

    .container {
        width: 100%;
        max-width: none;
}




    








