/* 
- Version:  1.0 (Desktop)
- Client:  vanleasing.com
- Author:   Van Anthony S. Valencia
*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab:400,700');

label{
    font-family: 'PT Sans', sans-serif;
    color: 58585a;
}

#sub-body-1 {
    height:auto;
    text-align: center;
    background-color:#052d87 !important     
}

.form-label{
    padding-left:  50px;
    text-align: left;
}



#form-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

#form-subtitle {
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 40px;
}

.bnWrappSection6{
    line-height: 3.4;
    height: auto;
    text-align: center; 
    max-width: 580px;
    padding: 45px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
}


/*  Step 5 btn-back   */
.cat_textbox{
	border-radius: 30px 30px 30px 30px;
}


.cat_dropdown{
	border-radius: 30px 30px 30px 30px;
}


.bnFormHead {
    width: 100px;
    text-align: center;
}


#btn-group{
    padding-top: 100px;
}

#btn-next {
    border-radius: 30px 30px 30px 30px;
    width: 140px;
     font-family: 'PT Sans', sans-serif;
}   


#btn-back{
    border-radius: 30px 30px 30px 30px;
    width: 140px;
    color: #58585a;
     font-family: 'PT Sans', sans-serif;

}


/*========= Non- Mobile First Method ============ */

/* Large Devices, Wide Screens */ 
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktop */ 
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px){
    .bnWrappSection6 {
        line-height: 2.3.;
        font-size: 15px;
    }
    .container{
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* Custom, Iphone Retina */
@media only screen and (max-width : 320px){

}