.navbar {
    background-color: #052d87 !important;
    color: white !important;
}

#navbarSupportedContent ul li a{
    color: white !important;
}


#btn-call {
    border-radius: 30px 30px 30px 30px;
}

#vlc-logo {
    height: 70px;
}
