.navbar {
    background-color: white !important;
}


#btn-call {
    border-radius: 30px 30px 30px 30px;
}

#vlc-logo {
    height: 70px;
}

@media (max-width: 576px) { 
    #vlc-logo {
        height: 60px;
    }
    
    .navbar {
        background-color: white !important;
    }
    
}
