@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab');

#container-3{
    
    padding-left: 200px;
    padding-right: 200px;
}

#container-header{
    padding-top: 30px;
    color: #58585a;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

#container-subheader{
    text-align: left;
    color: #58585a;
    font-family: 'Roboto Slab', serif;
    
}

#btn-group{
    padding-left: 390px;
}

#btn-accept{
    border-radius: 30px 30px 30px 30px;
    width: 160px;
    background-color: #40ae49;
    color: white;
    font-family: 'PT Sans', sans-serif;

}

#btn-decline{
    border-radius: 30px 30px 30px 30px;
    width: 160px;
    background-color: white;
    color: #40ae49;
    font-family: 'PT Sans', sans-serif;
}