@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab:400,700');


label{
    font-family: 'PT Sans', sans-serif;
    color: 58585a;
    padding-left: 30px;
}

#sub-body-1 {
    height:800px;
    text-align: center;
    background-color:#052d87 !important     
}

.form-label{
    text-align: left;
    color: #58585a;
}

.form-control{
    margin-left: 152px;
    width: 200px;
}


#form-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

#form-subtitle {
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 40px;
}

.bnWrappSection6{
    line-height: 3.4;
    height: auto;
    text-align: center; 
    max-width: 580px;
    padding: 45px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
}
/*  Step 5 btn-back   */
.cat_textbox{
	border-radius: 30px 30px 30px 30px;
}


.cat_dropdown{
	border-radius: 30px 30px 30px 30px;
}


.bnFormHead {
    width: 100px;
    text-align: center;
}




#btn-quote {
    text-align: right;
    border-radius: 30px 30px 30px 30px;
    border-color: black;
    margin-left: 30px;
    margin-right: 30px;
}

#btn-approve-me {
    text-align: right;
    border-radius: 30px 30px 30px 30px;
}

button{
    margin-left: 30px;
}
/*========= Non- Mobile First Method ============ */

/* Large Devices, Wide Screens */ 
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktop */ 
@media only screen and (max-width : 992px) {
    .bnWrappSection6 {
        max-width: 100%;
    }
    .form-control {
        margin-left: 118px;
        width: 80%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .bnWrappSection6 {
        max-width: 100%;
        padding: 16px 10px 0px 0px;
    }
    .form-control {
        margin-left: 50px;
        width: calc(100% - 100px);
        margin-right: 50px;
    } 
    #btn-approve-me {
        margin-bottom: 85px;
    }
    #container-fluid{
        max-width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px){
    .form-control {
        margin-left: 50px;
        width: calc(100% - 100px);
        margin-right: 0px;
    }
    #container-fluid{
        max-width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }
    .option-image {
        height: 40px;
    }

    #card-outer{
        display: inline;
    }
    .col {
        padding-bottom: 30px;
    }
    .card-option{
        padding: 35px 35px 35px;
        max-width: 210px;
    }
}

/* Custom, Iphone Retina */
@media only screen and (max-width : 320px){

}