/* carousel applied */
html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.carousel-caption {
    top: 30%;
    bottom: auto;
}
/* carousel applied */

/* sub-body-1 starts here*/
#sub-body-1 {
    /*background-image: url(../VLC-images/landing-image/lease-and-buy/header-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;*/
    color: white;
    text-align: center;
}
/* sub-body-1 ends here */


#content-van {
    padding-top: 80px;
    width: 50%;
}

#content-engine {
    width: 50%;
    
}

#container-text-modal{
   padding-top: 18%;
}


/* container-text-1 starts here */
#container-text-1 {
   padding-top: 5%;
}

#container-header {
    font-size: 60px;
}

#container-subheader {
    font-size: 43px;
}

.landing-items {
    opacity: 0 !important;
}
/* container-text-1 ends here */

/* gallery css ends here */


#sub-body-2 {
    text-align: center;
    margin-bottom: 90px;
}
/* sub-body-2 ends here */


#container-header-2 {
    font-size: 43px;
}

#container-subheader-2 {
    font-size: 20px;
}

#car-gallery {
    margin-top: 80px;
}

.footer-gallery {
    height: 80px;
    background-color: #dfdedd;
    border-radius: 0px 0px 15px 15px;
}

.body-gallery {
    background-color: #f8f7f6;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#btn-build-quote {
    margin-top: 18px;
    border-radius: 30px 30px 30px 30px;
    width: 250px;
}

.text-color-green {
    color: #40ae49;
}

.price-text {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 60px;
}

#car-gallery {
    margin-top: 80px;
}

.footer-gallery {
    height: 80px;
    background-color: #dfdedd;
    border-radius: 0px 0px 15px 15px;
}

.body-gallery {
    background-color: #f8f7f6;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#btn-build-quote {
    margin-top: 18px;
    border-radius: 30px 30px 30px 30px;
    width: 250px;
}

.text-color-green {
    color: #40ae49;
}

.price-text {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 60px;
}

.header-gallery {
    border-radius: 15px 15px 0px 0px;
    height: 190px;
    background-image: url(../VLC-Images/home-image/ford-1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.header-gallery-2 {
    border-radius: 15px 15px 0px 0px;
    height: 190px;
    background-image: url(../VLC-Images/landing-image/pickups/pickup-1.png);
    background-size: 100% auto;
    background-repeat: no-repeat; 
}

.header-gallery-3 {
    border-radius: 15px 15px 0px 0px;
    height: 190px;
    background-image: url(../VLC-Images/landing-image/pickups/pickup-2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.item-gallery {
    border-radius: 30px 30px 30px 30px;
}

/* gallery css ends here */

/* sub-body-3 starts here */

#sub-body-v2 {
    text-align: center;
}

#container-text-2 {
   padding-top: 8%;
   padding-bottom: 8%;
}

#container-text-3 {
   padding-top: 8%;
}

/* green-divider starts here - reusable component */
.green-divider {
    border-radius: 30px 30px 30px 30px;
    height: 10px;
    width: 150px;
    background-color: #40ae49;
    box-shadow: 2px 2px 50px #40ae49;
}
/* green-divider starts here - reusable component */

/* paragraphs styles starts here */
.paragraph {
    margin-left: 18px;
    margin-right: 18px;
    padding-top: 8%;
    padding-bottom: 4%;
    font-size: 25px;
}
/* paragraphs styles ends here  */

/* paragraphs styles starts here */
.paragraph-1 {
    padding-top: 2%;
    font-size: 22px;
}
/* paragraphs styles ends here  */

.link-in-par {
    color: #40ae49;
    text-decoration: underline;
}

.link-in-par:hover {
    color: #40ae49;
}

.chevron-link {
    text-decoration: none;
    color: white;
}

.chevron-link:hover {
    color: white;
    text-decoration: none;
}

.chevron-items {
    text-align: left !important;
    padding-left: 25%;
    font-size: 25px;
}

.check-color {
    color: #40ae49;
}

/* paragraphs styles starts here */
#paragraph-footer {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 2%;
    padding-bottom: 4%;
    font-size: 25px;
}
/* paragraphs styles ends here */


#btn-footer {
    border-radius: 30px 30px 30px 30px;
    width: 200px;

}


#footer-image {
    width: 65%;
}

#sub-body-3 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 190px;
}

#sub-body-4 {
    text-align: center;
    height: 300px;
    background-color: #40ae49;
    margin-bottom:  300px;
    color: white;
}

#btn-bottom {
    background-color: white;
    margin-top: 50px;  
    color: #40ae49;
    border-radius: 30px 30px 30px 30px;
    width: 250px;
    
}



































